{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<!-- head goes here -->
{% include "gps_devices/includes/head.html" %}
<body>
    
    <!-- Header -->
    {% include "gps_devices/includes/top_menu.html" %}
    {% block form_section %}{% endblock %}
    <!-- Main Content -->
    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Bottom Device Info Panel -->
    {% include "gps_devices/includes/bottom_panel.html" %}


    <!-- Base Scripts (مشترک بین همه صفحات) -->
    {% include "gps_devices/includes/scripts.html" %}

    
    <!-- Page-specific Scripts -->
    {% block page_scripts %}{% endblock %}
    
</body>

</html>